@import "./mediaBreakpoints.scss";

.flex {
  display: flex;
  &-row {
    flex-direction: row;
  }
  &-col {
    flex-direction: column;
  }
  &-wrap {
    flex-wrap: wrap;
  }
}

.text-white {
  color: white;
}

.headingtext {
  font-size: x-large;
  @include responsive(phone) {
    font-size: large;
  }
}

.xxltext {
  font-size: xx-large;
  @include responsive(phone) {
    font-size: x-large;
  }
}
